<template>
	<div class="app-wrapper">

		<div class="container">
			<app-header></app-header>
		</div>

		<router-view></router-view>

		<footer class="text-muted">
			<div class="container">
				<p class="float-right">
					<a href="#">Back to top</a>
				</p>
				<p>For this projects code and more check out <a href="https://bitbucket.org/Kieranwilson/" title="My Bitbucket!">my Bitbucket</a></p>
			</div>
		</footer>
	</div>
</template>

<script>
	import Header from './components/Header.vue'
	export default {
		components: {
			appHeader: Header
		}
	}
</script>
