<template>
	<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
		<router-link tag="a" class="navbar-brand" active-class="active" to="/" exact>
			{{ appName }}
		</router-link>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appNav" aria-controls="appNav"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="appNav">
			<ul class="navbar-nav mr-auto">
				<router-link tag="li" class="nav-item" active-class="active" to="/" exact>
					<a class="nav-link">Home</a>
				</router-link>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="categories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
					<div class="dropdown-menu" aria-labelledby="categories">
						<router-link v-for="category in categories" tag="a" class="dropdown-item" exact
									 :to="{ name: 'category', params: { name: category }}">
							{{ categoryName(category) }}
						</router-link>
					</div>
				</li>

				<router-link tag="li" class="nav-item" active-class="active" :to="{ name: 'leaderboard' }" exact>
					<a class="nav-link">Leaderboard</a>
				</router-link>

			</ul>

			<form @submit.prevent="performSearch" class="form-inline my-2 my-md-0">
				<div class="row">
					<div class="col-auto">
						<input v-model="searchTerm" class="form-control" type="text" placeholder="Search"
							   aria-label="Search">
						<div class="search-error" v-if="searchError">Minimum of three characters.</div>
					</div>
					<div class="col-auto">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</div>
				</div>
				<div class="search-error"></div>
			</form>
		</div>
	</nav>
</template>

<style lang="sass">
	.search-error {
		position: absolute;
		color: red;
		font-size: .9rem;
	}
</style>

<script>
	export default {
		data () {
			return {
				appName: process.env.APP_NAME,
				categories: [],
				searchTerm: '',
				searchError: false
			}
		},
		created () {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchCategories();
		},
		methods: {
			categoryName: category => category.charAt(0).toUpperCase() + category.slice(1),
			fetchCategories () {
				this.error = null;
				this.loading = true;
				this.$http.get(process.env.API_URL + 'categories')
					.then(response => {
						return response.json();
					}, error => {
					})
					.then(data => {
						this.categories = data;
					}, error => {
					});
			},
			performSearch () {
				if (this.searchTerm.length > 2) {
					this.$router.push({ name: 'search', params: {query: this.searchTerm}});
				} else {
					this.searchError = true;
					setTimeout(()=>  this.searchError = false, 3000);
				}
			},
		}
	}
</script>
