<template>
	<div>
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">{{ appName }}</h1>
				<p class="lead text-muted">This is a front end application that interfaces with the <a
						href="https://api.chucknorris.io/">Chuck Norris API</a></p>
			</div>
		</section>

		<div class="jokes">
			<div class="container">

				<table class="table table-hover" ref="jokes">
					<tbody>
						<joke :joke="joke" v-for="joke in jokes"></joke>
					</tbody>
				</table>

				<div class="loading" v-if="loading">
					Loading...
				</div>

				<div class="loading" v-if="loadedAll">
					Reached the end of all for this query
				</div>


				<div v-if="error" class="alert alert-danger" role="alert">
					{{ error }}
				</div>

			</div>
		</div>
	</div>
</template>

<style scoped>

</style>

<script>
	import Joke from './Joke.vue';

	export default {
		data () {
			return {
				category: this.$route.params.name,
				query: this.$route.params.query,
				appName: process.env.APP_NAME,
				loading: false,
				jokes: [],
				pageCount: parseInt(process.env.APP_PAGING),
				currentJokes: 0,
				maxJokes: parseInt(process.env.APP_PAGING),
				error: null,
				loadMoreDifference: 200,
				loadedAll: false
			}
		},
		watch: {
			'$route'(to, from) {
				this.loadedAll = false;
				this.category = to.params.name;
				this.query = to.params.query;
				this.jokes = [];
				this.error = null;
				this.pageCount = parseInt(process.env.APP_PAGING);
				this.currentJokes = 0;
				this.maxJokes = parseInt(process.env.APP_PAGING);
				this.fetchJokes();
			}
		},
		created() {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchJokes();

			/** Automatic pagination listener **/
			window.addEventListener('scroll', this.handleScroll);
			window.addEventListener('resize', this.loadMoreIfCantScroll);
		},
		destroyed() {
			window.removeEventListener('scroll', this.handleScroll);
			window.removeEventListener('resize', this.loadMoreIfCantScroll);
		},
		components: {
			Joke
		},
		computed: {
			jokeURL() {
				if (typeof this.category !== 'undefined') {
					return process.env.API_URL + 'category/' + this.category;
				} else if (typeof this.query !== 'undefined') {
					return process.env.API_URL + 'search/' + this.query;
				} else if (this.$route.name === "leaderboard") {
					return process.env.API_URL + 'leaderboard';
				} else {
					return process.env.API_URL + 'jokes/random';
				}
			}
		},
		methods: {
			handleScroll() {
				if (!this.loading) {
					let userAt = document.documentElement.scrollTop +
						Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
					let loadMoreHeight = this.$refs.jokes.offsetTop + this.$refs.jokes.offsetHeight - this.loadMoreDifference;
					if (userAt > loadMoreHeight && !this.loading) {
						this.loadMoreJokes(this.pageCount);
					}
				}
			},
			loadMoreJokes(amount) {
				if (!this.loadedAll) {
					this.loading = true;
					this.maxJokes += amount;
					this.fetchJokes();
				}
			},
			loadMoreIfCantScroll() {
				if (!(document.documentElement.scrollHeight > document.documentElement.clientHeight) && !this.loading) {
					this.loadMoreJokes(this.pageCount);
				}
			},
			getJoke() {
				let requestURL = this.jokeURL;
				let jokeURL = this.jokeURL;

				if (typeof this.query !== 'undefined' || this.$route.name === "leaderboard") {
					requestURL += '/' + this.currentJokes;
					var index = this.currentJokes;
				}
				this.$http.get(requestURL)
					.then(response => {
						return response.json();
					})
					.then(data => {
						if (jokeURL === this.jokeURL) {
							if (data === null) {
								this.loadedAll = true;
								this.loading = false;
								return;
							}

							if (typeof index === "undefined") {
								this.jokes = this.jokes.concat(data);
							} else {
								this.jokes[index] = data;
							}
							if (this.jokes.length === this.currentJokes) {
								this.loading = false;
								this.loadMoreIfCantScroll();
							}
						}
					})
					.catch(error => {
						this.getJoke();
						this.error = error.message;
					});
			},
			fetchJokes() {
				this.error = null;
				this.loading = true;
				while (this.currentJokes < this.maxJokes) {
					this.getJoke();
					this.currentJokes++;
				}
			}
		}
	}
</script>
