<template>
	<tr>
		<td class="align-middle"><img class="mr-3" :src="joke.icon_url" alt="Chuck Norris Icon"></td>
		<td class="align-middle"><h5 class="mt-0 mb-1">{{ joke.value }}</h5>
			<p class="mt-2 mb-0">
				<small>
					<router-link v-for="category in joke.category" tag="button" class="btn btn-info" exact
								 :to="{ name: 'category', params: { name: category }}">
						{{ categoryName(category) }}
					</router-link>
				</small>
			</p>
		</td>
		<td class="align-middle votes"><span @click="voteUp" class="amount">{{ joke.voteCount }}</span></td>
	</tr>
</template>

<style scoped>
	.btn {
		line-height: 1rem;
		font-size: 0.9rem;
	}

	.amount {
		display: block;
		text-align: center;
		cursor: pointer;
		transition: .5s ease background;
		background: rgba(0,0,0,0);
	}

	.amount:before {
		content: '^';
		display: block;
		text-align: center;
		padding: 3px 7px 0;
	}

	.amount:hover {
		background: rgba(0,0,0,.25);
	}
</style>

<script>
	export default {
		props: {
			joke: {
				required: true
			},
		},
		methods: {
			categoryName: category => category.charAt(0).toUpperCase() + category.slice(1),
			voteUp: function () {
				this.$http.get(process.env.API_URL + 'vote', {params: {joke: this.joke}, emulateJSON: true})
					.then(response => {
						return response.json();
					}).then(count => {
						this.joke.voteCount = count;
					})
			}
		},
	}
</script>
